* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainSection {
  width: 100vw;
  height: 100vh;
  background-color: #145b9f;
}

.header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;

  &__logo {
    width: 200px;
    height: 50px;
    position: relative;
    top: 10px;
  }

  &__ads {
    width: 450px;
    height: 130px;
  }
  &__date {
    display: flex;
    width: 25%;
    justify-content: space-between;
    padding-top: 20px;

    p {
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      font-family: sans-serif;
    }
  }


  &__calendar {
    display: flex;

    p {
      position: relative;
      left: 10px;
    }
  }
  &__time {
    display: flex;
    p {
      position: relative;
      left: 10px;
    }
  }
}

.table {
  padding-top: 30px;
  height: 66vh;
  padding-bottom: 40px;
  width: 100%;

  table {
    width: 100%;
  }
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    background: #104273;
    color: #fff;
  }
}

.column {
  font-size: 40px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

.dataIndex {
  color: #fff;
  font-size: 35px;
  font-family: sans-serif;
  text-align: center;
  padding: 15px 0;
  font-weight: 700;
  width: 200px;
}

.completed {
  color: #24ff00;
  font-size: 45px;
}
